:root {
  --body-clr: rgba(239, 211, 168, 1);
  --hdr-clr: rgba(186, 198, 128, 0.9);
  --main-clr: rgba(145, 162, 118, 0.9);
  --ftr-clr: rgba(110, 129, 105, 0.9);
  --bdr-clr: rgb(221, 158, 0);
}

* {
  /* border: 1px darkred solid; */
  padding: 4px;
  margin: 4px;
  font-family: 'Trebuchet MS', sans-serif;
}

em {
  margin: 0px;
  padding: 0px;
}

header, main, footer {
  border: 12px var(--bdr-clr) ridge;
  border-radius: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
  box-shadow: 8px 8px 12px 2px #2226;
}

body {
  background: url(./images/bg1.jpeg) fixed center / cover;
  display: flex;
  flex-direction: column;
  background-color: var(--body-clr);
}

header {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  background-color: var(--hdr-clr);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--main-clr);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--ftr-clr);
}

#top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#bar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
    display:inline-block;
    position:relative;
    width: 120px;
    height: 120px;
    padding: 0;
}

.logo::before {
    display:block;
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    -moz-box-shadow:inset 0px 0px 8px 4px #fff;
    -webkit-box-shadow:inset 0px 0px 8px 4px #fff;
    box-shadow:inset 0px 0px 8px 4px var(--hdr-clr);
    padding: 0;
    border-radius: 50%;
}

.logo img {
  margin: 0;
  padding: 0;
  border-radius: 50%;
}

nav {
  text-align: center;
}

nav li {
  display: inline-block;
}

ul li {
  list-style-type: none;
}

main > * {
  margin-top: 16px;
  margin-bottom: 16px;
}

h1 {
  text-shadow: 0px 0px 6px #000, 4px 4px 8px #0006;
  font-size: 4rem;
  color: rgb(255, 222, 59);
}

main > section {
  border: 6px var(--bdr-clr) dashed;
  background-color: rgb(169, 150, 169);
  width: 90%;
  max-width: 90%;
}

#guest {
  font-style: italic;
  font-weight: bold;
}

#guest {
  margin: 0px;
  padding: 0px;
}

#quizzes > div {
  border: 4px var(--bdr-clr) solid;
  border-radius: 8px;
  background-color: khaki;
}

button {
  font-size: 1.2rem;
  border: 2px gray solid;
  border-radius: 4px;
  padding: 4px;
}

dt {
  font-weight: bold;
}

#portfolio {
  width: 100%;
}

#project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#project-list li {
  margin-left: 16px;
  margin-right: 16px;
  flex: 1 1 auto;
  min-width: 25%;
  max-width: 200px;
}

#top-10 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#top-10 > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  min-width: 25%;
  max-width: 45%;
}

#canvases {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graphics {
  border: 2px var(--bdr-clr) solid;
  background-color: lightgrey;
}

.graphics > canvas:not(:last-of-type) {
  position: absolute;
}

footer h3, ul {
  text-align: center;
}
