:root {
  --body-clr: rgba(239, 211, 168, 1);
  --hdr-clr: rgba(186, 198, 128, 0.9);
  --main-clr: rgba(145, 162, 118, 0.9);
  --ftr-clr: rgba(110, 129, 105, 0.9);
  --bdr-clr: rgb(179, 184, 142);
}

* {
  /* border: 1px darkred solid; */
  font-family: 'Trebuchet MS', sans-serif;
  padding: 4px;
  margin: 4px;
}

em {
  margin: 0px;
  padding: 0px;
}

header, footer {
  border: 12px var(--bdr-clr) ridge;
  border-radius: 16px;
  margin: 24px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 8px 8px 12px 2px #2226;
  width: 85%;
}

main {
  margin: 24px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

body {
  background: url(./images/bg1.jpeg) fixed center / cover;
  display: flex;
  flex-direction: column;
  background-color: var(--body-clr);
  min-width: 1000px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--hdr-clr);
  padding: 0;
  
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px;
}

header {
  margin-top: 0;
  /* margin-bottom: 36px; */
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--ftr-clr);
}

header > * {
  margin: 0;
}

#top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#bar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
    display:inline-block;
    position:relative;
    width: 120px;
    height: 120px;
    padding: 0;
}

.logo::before {
    display:block;
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    -moz-box-shadow:inset 0px 0px 8px 4px #fff;
    -webkit-box-shadow:inset 0px 0px 8px 4px #fff;
    box-shadow:inset 0px 0px 8px 4px var(--hdr-clr);
    padding: 0;
    border-radius: 50%;
}

.logo img {
  margin: 0;
  padding: 0;
  border-radius: 50%;
}

nav {
  text-align: center;
}

nav li {
  display: inline-block;
}

ul li {
  list-style-type: none;
}

main > * {
  margin-top: 32px;
  margin-bottom: 32px;
}

h1 {
  text-shadow: 0px 0px 6px #000, 4px 4px 8px #0006;
  font-size: 4rem;
  color: rgb(255, 222, 59);
  align-self: flex-start;
  margin-left: 5%;
}

#blurb {
  background-color: #6669;
  width: 60%;
  align-self: flex-start;
  margin-left: 10%;
  margin-bottom: 144px;
  padding-left: 24px;
  padding-right: 48px;
  border-radius: 6px;
  color: rgb(254, 254, 241);
}

#blurb > * {
  font-size: 1.5rem;
}

span, b {
  margin: 0;
  padding: 0;
}

main > section {
  border: 6px var(--bdr-clr) dashed;
  border-radius: 6px;
  background-color: rgba(169, 150, 169, .8);
  width: 80%;
  max-width: 80%;
  padding: 24px;
}

main > section:nth-of-type(even) {
  margin-left: 10%;
}

main > section:nth-of-type(odd) {
  margin-right: 10%;
}

#guest {
  font-style: italic;
  font-weight: bold;
}

#guest {
  margin: 0px;
  padding: 0px;
}

#quizzes {
  text-align: center ;
}

#quizzes > div {
  border: 4px var(--bdr-clr) solid;
  border-radius: 8px;
  background-color: khaki;
  margin: 8px;
  padding: 8px; 
}

button {
  font-size: 1.2rem;
  border: 2px gray solid;
  border-radius: 4px;
  padding: 4px;
}

dt {
  font-weight: bold;
}

#portfolio {
  width: 100%;
}

#project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#project-list li {
  margin-left: 16px;
  margin-right: 16px;
  flex: 1 1 auto;
  min-width: 25%;
  max-width: 200px;
}

#top-10 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#top-10 > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  min-width: 25%;
  max-width: 45%;
}

#canvases {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.graphics {
  border: 2px var(--bdr-clr) solid;
  background-color: lightgrey;
  margin: 16px;
}

.graphics > canvas:not(:last-of-type) {
  position: absolute;
}

footer h3, ul {
  text-align: center;
}
